.tbar-clear { clear:both; }
#tbar-modal {
    z-index:99998;
    position:fixed;
    height:100%;
    width:100%;
    background-color:black;
    display:none;
    top:0;
    left:0;
    opacity:.85;
    zoom:1;
}

#tbar-window {
    z-index:99999;
    height:305px;
    width:600px;
    position: fixed;
    background-color:white;
    padding:0;
    border:1px solid #f3f3f3;
    margin:0;
}

#tbar-window .wrap {
    padding:0;
    height:100%;
    width:100%;
    overflow:hidden;
    background:transparent url(../../inc/i/bg.jpg) 0 0 no-repeat;
    margin:0;
    position:relative;
}

#tbar-window .wrap p { text-align:left!important; position:relative; }

#tbar-contact-window form { position:absolute; top:0; left:0; width:100%; height:100%; }
#tbar-contact-window form label { display:block; margin-bottom:5px;  }
#tbar-contact-window form label .required { color:#a84040; font-weight:bold; font-size:2em; line-height:1em; height:12px; overflow:hidden; display:inline-block; }
#tbar-contact-window #ajax-reply { position:relative; top:32%; width:100%; margin:0 auto; margin-left:0; }
#tbar-contact-window #ajax-reply p { font-size:1.6em; text-align:center!important; width:100%; }
#tbar-contact-window #ajax-reply .success { /*background-color:#e7ffed; border:1px solid #b0e1bc;*/ color:#0d7628; }
#tbar-contact-window #ajax-reply .error { /*background-color:#feeaef; border:1px solid #db9baa;*/ color:#760d26; }

#tbar-window h1 {
    background-color:#333;
    color:white;
    font-family:verdana, tahoma, sans-serif;
    font-size:1.6em;
    text-align:center;
    padding:10px 0;
    font-weight:400;
    margin:0;
}

.tbar-button
{
    display: inline-block;
    white-space: nowrap;
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
    background-image: -webkit-linear-gradient(top, #eee, #ccc);
    background-image: -moz-linear-gradient(top, #eee, #ccc);
    background-image: -ms-linear-gradient(top, #eee, #ccc);
    background-image: -o-linear-gradient(top, #eee, #ccc);
    background-image: linear-gradient(top, #eee, #ccc);
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    border-radius: .2em;
    -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.tbar-button:hover
{
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
    background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
    background-image: -moz-linear-gradient(top, #fafafa, #ddd);
    background-image: -ms-linear-gradient(top, #fafafa, #ddd);
    background-image: -o-linear-gradient(top, #fafafa, #ddd);
    background-image: linear-gradient(top, #fafafa, #ddd);
}

.tbar-button:active
{
    -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    position: relative;
    top: 1px;
}

.tbar-button:focus
{
    outline: 0;
    background: #fafafa;
}

.tbar-button:before
{
    content: "\2709";
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;
    width: 1em;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    -moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    -webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    -moz-border-radius: .15em 0 0 .15em;
    -webkit-border-radius: .15em 0 0 .15em;
    border-radius: .15em 0 0 .15em;
    pointer-events: none;
}

/* Buttons and inputs */

.tbar-button
{
    cursor: pointer;
    overflow: visible; /* removes extra side spacing in IE */
    font-size:1.2em!important;
    color:#666;
}

.tbar-button:hover { color:#333; }

/* removes extra inner spacing in Firefox */
tbar-button::-moz-focus-inner
{
  border: 0;
  padding: 0;
}

/* The disabled styles */
.tbar-button[disabled], .tbar-button[disabled]:hover, .tbar-button.disabled, .tbar-button.disabled:hover
{
    background: #eee;
    color: #aaa;
    border-color: #aaa;
    cursor: default;
    text-shadow: none;
    position: static;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#tbar-contact-window .left {
    float:left;
    width:230px;
    margin-left:10px;
}

#tbar-contact-window .left p.tbar-input-wrap { padding:0; margin:20px 0!important; }
#tbar-contact-window .left p:first-child { margin-top:15px!important; }

#tbar-contact-window .left input.tbar-input { width:100%; border:1px solid #ccc; padding:3px; }

#tbar-contact-window .right {
    float:right;
    width:342px!important;
    margin-top:15px!important;
}

#tbar-contact-window form { display:block; }

#tbar-contact-window .left p.tbar-input-wrap { padding:0; margin:20px 0 0; display:block; }
#tbar-contact-window .right p { padding:0; margin:20px 0 0; }
#tbar-contact-window .right textarea { width:97%; height:154px; margin:0 0 0px; border:1px solid #ccc; padding:3px; }
#tbar-contact-window label { font-size:1.2em!important; font-family:arial, verdana, tahoma, sans-serif; }
#tbar-contact-window p.submit { width:100%; padding:0!important; margin:0!important; }
#tbar-contact-window p.submit a { float:right; margin-right:10px; }
#tbar-contact-window .right .tbar-input-wrap { margin:0!important; padding:0!important; }

#tbar-contact-window .ajax {
    display:none;
    background:transparent url(../i/ajax.png) 0 0 no-repeat;
    position:absolute;
    z-index:10;
    top:30%;
    left:45%;
    height:71px;
    width:72px;
    -webkit-animation-name:rotater;
    -webkit-animation-duration:1500ms;
    -webkit-animation-iteration-count:10000;
    -webkit-animation-timing-function: ease-out;

    /* mozilla */
    -moz-animation-name:rotater;
    -moz-animation-duration:1500ms;
    -moz-animation-iteration-count:10000;
    -moz-animation-timing-function: ease-out;

    /* opera */
    -o-transform:rotate(360deg) scale(1.5);
    -o-transition-duration:1000ms;
    -o-transition-timing-function: ease-out;

    /* ie */
    -ms-transform:rotate(360deg) scale(1.5);
    -ms-transform-duration:1000ms;
    -ms-transform-timing-function: ease-out;

    opacity:.8;
    -moz-opacity:.8;
    -webkit-opacity:.8;
}

@-webkit-keyframes rotater {
    0% { -webkit-transform:rotate(0) scale(.5) }
    50% { -webkit-transform:rotate(360deg) scale(1.5) }
    100% { -webkit-transform:rotate(720deg) scale(.5) }
}

@-moz-keyframes rotater {
    0% { -moz-transform:rotate(0) scale(.5) }
    50% { -moz-transform:rotate(360deg) scale(1.5) }
    100% { -moz-transform:rotate(720deg) scale(.5) }
}